<a href="https://colab.research.google.com/github/ANAGHA-SREYAS/python_practice/blob/main/python_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1: Create a function in Python.

Write a program to create a function that takes two arguments, name and age, and print their value.

In [ ]:
def name_age(name,age):
  return(name,age)
name_age('anu',28)

('anu', 28)

Exercise 2: Create a function with variable length of arguments.

Write a program to create function func1() to accept a variable length of arguments and print their value.

In [ ]:
def func1(*numbers):
  for i in numbers:
    print(i)
func1(10,20,30)
func1(60,80)

10
20
30
60
80

Exercise 3: Return multiple values from a function.

Write a program to create function calculation() such that it can accept two variables and calculate addition and subtraction. Also, it must return both addition and subtraction in a single return call.

In [ ]:
def calculation(a,b):
  addition=a+b
  subtraction=a-b
  return addition,subtraction
calculation(10,5)

(15, 5)

Exercise 4: Create a function with a default argument

Write a program to create a function show_employee() using the following conditions.It should accept the employeeâ€™s name and salary and display both.
If the salary is missing in the function call then assign default value 9000 to salary

In [ ]:
def show_employee(name,salary=9000):
  print('name:', name,'salary:',salary)
show_employee('anu',12000)
show_employee('ravi')

name: anu salary: 12000
name: ravi salary: 9000

Exercise 5: Create an inner function to calculate the addition in the following way

Create an outer function that will accept two parameters, a and b

Create an inner function inside an outer function that will calculate the addition of a and b

At last, an outer function will add 5 into addition and return it

In [ ]:
def calculate_function(a,b):
  def addition(a,b):
    return a+b
  return (a+b)+5
calculate_function(2,3)

10

Exercise 6: Create a recursive function.

Write a program to create a recursive function to calculate the sum of numbers from 0 to 10.


A recursive function is a function that calls itself again and again.

In [ ]:
def recursive_sum(a):
  sum=0
  for i in range(0,a+1):
    sum+=i
  return sum
recursive_sum(10)

55

Exercise 7: Assign a different name to function and call it through the new name

Below is the function display_student(name, age).
Assign a new name show_tudent(name, age) to it and call it using the new name.

In [ ]:
def display_student(name,age):
  return name,age
show_student=display_student
show_student('emma',28)

('emma', 28)

Exercise 8: Generate a Python list of all the even numbers between 4 to 30

In [ ]:
def list_of_numbers(a,b):
  new_list=[]
  for i in range(a,b):
    if i%2==0:
      new_list.append(i)
  return new_list
list_of_numbers(4,30)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

Exercise 9: Find the largest item from a given list

In [ ]:
def find_max(x):
  return max(x)
a=[1,2,3,4,5]
find_max(a)

5

10. Write a Python function to find the maximum of three numbers

In [ ]:
def max_value(a,b,c):
  return max(a,b,c)
max_value(5,7,9)
print('the maximum value is ',max_value(5,7,9))

the maximum value is  9

11 Write a Python function to sum all the numbers in a list.

Sample List : (8, 2, 3, 0, 7)

Expected Output : 20

In [ ]:
def find_sum(a):
  sum=0
  for i in a:
    sum+=i
  return sum
x=[8,2,3,0,7]
print('the sum of the values in a given list is ',find_sum(x))

the sum of the values in a given list is  20

12.Write a Python function to multiply all the numbers in a list.

Sample List : (8, 2, 3, -1, 7)

Expected Output : -336

In [ ]:
def multiply(a):
  result=1
  for i in a:
    result*=i
  return result
a=[8, 2, 3, -1, 7]
print('the result is ',multiply(a))

the result is  -336

13 Write a Python program to reverse a string.

Sample String : "1234abcd"

Expected Output : "dcba4321"

In [ ]:
def reverse_string(a):
  return a[::-1]

a= "1234abcd"
reverse_string(a)

'dcba4321'

14.Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument

In [ ]:
def factorial(a):
  result=1
  for i in range(a,1,-1):
    result*=i
  return result
factorial(5)

120

15.Write a Python function to check whether a number falls within a given range.

In [ ]:
def find_range(a):
  if a in range(10,20):
    print("the number is in between 10,and 20")
  else:
    print('the number is out of range')
find_range(3)
find_range(17)

the number is out of range
the number is in between 10,and 20

16.Write a Python function that accepts a string and counts the number of upper and lower case letters.

Sample String : 'The quick Brow Fox'

Expected Output :

No. of Upper case characters : 3

No. of Lower case Characters : 12

In [ ]:
def upper_and_lower(a):
  upper_count=0
  lower_count=0
  for i in a:
    if i.isupper():
      upper_count+=1
    elif i.islower():
      lower_count+=1
a='The quick Brow Fox'
upper_and_lower(a)

(3, 12)

17.Write a Python function that takes a list and returns a new list with distinct elements from the first list.

Sample List : [1,2,3,3,3,3,4,5]

Unique List : [1, 2, 3, 4, 5]

In [ ]:
def find_distinct(a):
  new_list=list(set(a))
  return new_list
a=[1,2,3,3,3,3,4,5]
find_distinct(a)

[1, 2, 3, 4, 5]

18.Write a Python function that takes a number as a parameter and checks whether the number is prime or not.

Note : A prime number (or a prime) is a natural number greater than 1 and that has no positive divisors other than 1 and itself

In [ ]:
def check_prime(a):
  is_prime=True
  for i in range(2,a):
    if a%i==0:
      is_prime=False
      break
  if is_prime:
    print('the number is a prime number')
  else:
    print('the number is not a prime number')

check_prime(9)

the number is not a prime number

19.Write a Python program to print the even numbers from a given list.

Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]

Expected Result : [2, 4, 6, 8]

In [ ]:
def even_number(a):
  new_list=[]
  for i in a:
    if i%2==0:
      new_list.append(i)
  return new_list
a= [1, 2, 3, 4, 5, 6, 7, 8, 9]
even_number(a)

[2, 4, 6, 8]

20.Write a Python function to check whether a number is "Perfect" or not

In [ ]:
def is_perfect_number(a):
  if a<=0:
    return False
  divisor_sum=0
  for i in range(1,a):
    if a%i==0:
      divisor_sum+=i
  return divisor_sum==a


if is_perfect_number(6):
  print('it is a perfect number')
else:
  print('not a perfect number')

it is a perfect number

21.Write a Python function that checks whether a passed string is a palindrome or not.
Note: A palindrome is a word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run

In [ ]:
def is_palindrome(s):
    # Remove spaces and convert to lowercase for case-insensitive comparison
    s = s.replace(" ", "").lower()

    # Use two pointers to compare characters from both ends of the string
    start, end = 0, len(s) - 1

    while start < end:
        if s[start] != s[end]:
            return False
        start += 1
        end -= 1

    return True

# Example usage:
word = "madam"
if is_palindrome(word):
    print(f"{word} is a palindrome")
else:
    print(f"{word} is not a palindrome")

madam is a palindrome