<a href="https://colab.research.google.com/github/ANAGHA-SREYAS/python_practice/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1: Calculate the multiplication and sum of two numbers
Given two integer numbers, return their product only if the product is equal to or lower than 1000. Otherwise, return their sum.

In [2]:
x=int(input('enter a number'))
y=int(input('enter a number'))
if x*y<=1000:
  print(x*y)
else:
  print(x+y)

enter a number100
enter a number45
145

Exercise 2: Print the sum of the current number and the previous number.

Write a program to iterate the first 10 numbers, and in each iteration, print the sum of the current and previous number.

In [9]:
previuos_num=0
for i in range(1,11):
  print('current number',i,'previous number',previuos_num,'sum',previuos_num+i)

current number 1 previous number 0 sum 1
current number 2 previous number 0 sum 2
current number 3 previous number 0 sum 3
current number 4 previous number 0 sum 4
current number 5 previous number 0 sum 5
current number 6 previous number 0 sum 6
current number 7 previous number 0 sum 7
current number 8 previous number 0 sum 8
current number 9 previous number 0 sum 9
current number 10 previous number 0 sum 10

Exercise 3: Print characters from a string that are present at an even index number.

Write a program to accept a string from the user and display characters that are present at an even index number.

In [18]:
string=input('enter your string ')
if len(string)%2==0:
  print(string[1::2]+string[-1])
else:
  print(string[1::2])

enter your string banana
aaaa

Exercise 4: Remove first n characters from a string.

Write a program to remove characters from a string starting from zero up to n and return a new string.

In [22]:
string=input('enter your string ')
new_string=string[2:]
print('the new string is ',new_string)

enter your string alphabet
the new string is  phabet

# New Section
# loop

Exercise 1: Print First 10 natural numbers using while loop

In [23]:
i=1
while i<=10:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

Exercise 2: Print the following pattern.

Write a program to print the following number pattern using a loop.

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [29]:
limit=5
for i in range(1,limit+1):
  for k in range(1,i+1):
    print(k,end=' ')
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Exercise 3: Calculate the sum of all numbers from 1 to a given number.

Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number

In [42]:
number=int(input('enter your number '))
sum=0
for i in range(number+1):
  sum+=i
print(sum)

enter your number 10
55

Exercise 4: Write a program to print multiplication table of a given number

In [45]:
n=int(input('enter your number '))
for i in range(1,11):
  print(i,'*',n,'=',i*n)

enter your number 2
1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20

Exercise 5: Display numbers from a list using loop.

Write a program to display only those numbers from a list that satisfy the following conditions


The number must be divisible by five

If the number is greater than 150, then skip it and move to the next number

If the number is greater than 500, then stop the loop

In [47]:
numbers=[12, 75, 150, 180, 145, 525, 50]
for i in numbers:
  if i >500:
    break
  elif i>150:
    continue
  elif i%5==0:
    print(i)

75
150
145

Exercise 6: Count the total number of digits in a number.

Write a program to count the total number of digits in a number using a while loop.

In [51]:
number=(input('enter your number '))
digit_count=0
for i in number:
  if i.isdigit():
    digit_count+=1
print(digit_count)

enter your number 357678
6

Exercise 7: Print the following pattern.

Write a program to use for loop to print the following reverse number pattern

5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

In [54]:
n=5
k=5
for i in range(0,n+1):
  for j in range(k-i,0,-1):
    print(j,end=' ')
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

Exercise 8: Print list in reverse order using a loop

In [55]:
list1 = [10, 20, 30, 40, 50]
new_list=reversed(list1)
for i in new_list:
  print(i)

50
40
30
20
10

Exercise 9: Display numbers from -10 to -1 using for loop

In [58]:
for i in range(-10,0):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Exercise 10: Use else block to display a message “Done” after successful execution of for loop

In [59]:
for i in range(1,6):
  print(i)
else:
  print('Done')

1
2
3
4
5
Done

Exercise 11: Write a program to display all prime numbers within a range

In [71]:
number=range(2,10)
for i in range(1,10):
  if i >1:
    for k in range(2,i):
      if (i%k)==0:
        break
    else:
      print(i)

2
3
5
7

Exercise 12: Display Fibonacci series up to 10 terms

In [73]:
fib_series=[0,1]
for i in range(2,11):
  new_value=fib_series[-1]+fib_series[-2]
  fib_series.append(new_value)
print(fib_series)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

Exercise 13: Find the factorial of a given number

In [76]:
number=int(input('enter your number '))
factorial=1
for i in range(1,number+1):
  factorial=factorial*i
print(factorial)

enter your number 10
3628800

Exercise 14: Reverse a given integer number

In [77]:
number=5678
reverse_number=int(str(number)[::-1])
reverse_number

8765

Exercise 15: Use a loop to display elements from a given list present at odd index positions

In [84]:
lst=[1,2,3,4,5,6]
for i in lst[1::2]:
  print(i)

2
4
6

Exercise 16: Calculate the cube of all numbers from 1 to a given number

In [86]:
number=int(input('enter a number '))
for i in range(1,number+1):
  cube=i*i*i
  print('current number is ',i,'curresponding cube is ',cube)

enter a number 3
current number is  1 curresponding cube is  1
current number is  2 curresponding cube is  8
current number is  3 curresponding cube is  27

Exercise 17: Find the sum of the series upto n terms.

Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690

In [87]:
n=5
series_sum=0
term=2
for i in range(1,n+1):
  series_sum+=term
  term=term*10+2
print(series_sum)

24690